[submodule "source/3rdparty/imgui"]
	path = source/3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "source/3rdparty/tinygltf"]
	path = source/3rdparty/tinygltf
	url = https://github.com/syoyo/tinygltf.git